.shoe-index-header {
    color: #fff; 
    text-align: center; 
    font-size: 3rem; 
    margin-top: 2rem; 
}

.index-flex {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.shoe-index-container {
    height: 100vh; 
}