body {
    margin: 0;
    background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.splash {
    height:100vh;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    background: rgba(0, 0, 0, 0.379);
    line-height: 400px;
    text-align: center;
}

.splash h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 14vh;
    /* margin-top: 160px; */
    letter-spacing: .3rem;
    color: white;
    /* padding: 2rem; */
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


.Audio {
    display: none;
}

  /* div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */
  .typing > *{
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 3s steps(50);
    text-transform: none;
  }
  @keyframes typingAnim {
    from {width:0}
    to {width:100%}
  }

  .bb, .bb::before, .bb::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .bb {
    width: 200px;
    height: 200px;
    margin: auto;
    background: url("https://i.imgur.com/sWeO4J0.png") no-repeat 50%/70% rgba(0, 0, 0, 0.1);
    color: #ffffff;
    box-shadow: inset 0 0 0 1px rgba(245, 245, 245, 0.5);
  }
  .bb::before, .bb::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
  }
  .bb::before {
    animation-delay: -4s;
  }
  .bb:hover::after, .bb:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  @keyframes clipMe {
    0%, 100% {
      clip: rect(0px, 220px, 2px, 0px);
    }
    25% {
      clip: rect(0px, 2px, 220px, 0px);
    }
    50% {
      clip: rect(218px, 220px, 220px, 0px);
    }
    75% {
      clip: rect(0px, 220px, 220px, 218px);
    }
  }
  html,
  body {
    height: 100%;
  }
  
  body {
    position: relative;
    background-color: #0f222b;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
@media screen and (max-width: 320px) {

}

@media screen and (min-width: 375px) {


}

@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

    
}

@media screen and (min-width: 1400px) {


}