.profile-container {
    height: 100vh; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.Forms-Container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 2rem; 
}

.Forms-Container input {
    width: 15rem; 
    height: 1rem; 
    /* border: 0rem solid #fff;  */
    border:none;
    background-color:black;
    /* border-radius: .5rem;  */
    padding: 1.2rem; 
    outline: none; 
    font-size: 1rem; 
    color:white;
    border-bottom: .05rem solid white;
    transition: all .2s
}

.profile-btn {
    width: 10rem; 
    height: 3rem; 
    border: 0rem solid #fff; 
    border-radius: .5rem; 
    background-color: #BA7E7E; 
    color: #fff; 
    padding: 1rem; 
    outline: none; 
    font-size: 1rem; 
}

.profile-btn:hover {
    background-color: #CCA9AC; 
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.profile-btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.profile-header {
    font-size: 3rem;
    color: #fff; 
    text-align: center;
    font-family: 'Lobster', cursive;
     
}

.input1 {
    margin-bottom: 1rem; 
}

.input2 {
    margin-bottom: 1rem; 
}

.input3 {
    margin-bottom: 1rem; 
}

.input4 {
    margin-bottom: 1rem; 
}

.input5 {
    margin-bottom: 1rem; 
}

.input6 {
    margin-bottom: 2rem; 
}