.login-input {
    width: 15rem; 
    height: 1rem; 
    border: 0rem solid #fff; 
    border-radius: .5rem; 
    padding: .5rem; 
    outline: none; 
    font-size: 1rem; 
}

.login-btn {
    width: 10rem; 
    height: 3rem; 
    border: 0rem solid #fff; 
    border-radius: .5rem; 
    background-color: #C6232C; 
    color: #fff; 
    padding: 1rem; 
    outline: none; 
    font-size: 1rem; 
    margin-left: 1rem; 
}



#login1 {
    margin-left: 1rem;     
}

#login2 {
    margin-left: 1rem; 
}

#login3 {
    margin-left: 1rem; 
}