body {
    background: url('/kickit-login.png');
    /* background-size: 80%; */
    background-size: cover;
}

.login-container{
    display: flex; 
    height:100vh;
    justify-content: center; 
    align-items: center;

}

.login-flex {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1rem; 
}

.login-header {
    font-size: 3rem; 
    color: #fff; 
    font-family: 'Lobster', cursive;
    text-transform: none; 
}

.login-input {
    width: 15rem; 
    height: 1rem; 
    /* border: 0rem solid #fff;  */
    border:none;
    background-color:black;
    /* border-radius: .5rem;  */
    padding: 1.2rem; 
    outline: none; 
    font-size: 1rem; 
    color:white;
    border-bottom: .05rem solid white;
    transition: all .2s
}

.login-input:focus{
    border-bottom: .1rem solid white;
}

.error-message {
    color: #fff; 
    font-size: 1rem; 
}

.login-btn {
    width: 10rem; 
    height: 3rem; 
    border: 0rem solid #fff; 
    border-radius: .5rem; 
    background-color: #BA7E7E; 
    color: #fff; 
    padding: 1rem; 
    outline: none; 
    font-size: 1rem; 
}

.login-btn:hover {
    background-color: #CCA9AC; 
}



#login1 {   
    margin-bottom: 1rem;   
}

#login2 { 
    margin-bottom: 1rem;   
}

#login3 { 
    margin-bottom: 2rem;   
}