.nav-container {
    background-color: rgba(255, 255, 255, 0); 
    margin-top: 0rem; 
    padding: .1rem; 
    width: 100%; 
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none; 
    margin: 0;
}

.nav-container a:visited {
    color: #fff; 
}

.logo-nav {
    height: 2.3rem;
    width: 3rem;
    display: flex;
    padding-left: 1rem;
}

.nav-flex {
    display: flex; 
    width:100%;
    flex-direction: row-reverse;
    margin-right: 1rem; 
}

.nav-list {
    color: #fff; 
    list-style-type: none;
}

#list1 {
    margin-right: 1rem;    
}

#list2 {
    margin-right: 1rem; 
}

#list3 {
    margin-right: 1rem; 
}
#list4 {
    margin-right: 1rem; 
}

.ternary-nav {
    display: flex; 
}

@media screen and (max-width: 320px) {
    .nav-list {
        font-size: .4rem; 
    }

    .logo-nav {
        height: 1rem; 
        width: 2rem; 
    }
}

@media screen and (min-width: 375px) {
    .nav-list {
        font-size: .7rem; 
    }
    .logo-nav {
        height: 1.1rem; 
        width: 2rem; 
    }
}

@media screen and (min-width: 414px) {
    .nav-list {
        font-size: .8rem; 
    }

    .logo-nav {
        height: 1.5rem; 
        width: 2.5rem; 
    }
}

@media screen and (min-width: 768px) {
    .nav-list {
        font-size: 1.3rem;
    }

    .animated-header {
       
    }

    .logo-nav {
        height: 2rem; 
        width: 3rem; 
    }

    .splash {
        width: 134%; 
    }
}

@media screen and (min-width: 1024px) {
    .nav-list {
        font-size: 1.5rem; 
    }
}

@media screen and (min-width: 1400px) {
    .logo-nav {
        height: 2.3rem;
        width: 3rem;
    }
}