.edit-container {
    height: 100vh; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.edit-Forms-Container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 2rem; 
}

.edit-Forms-Container input {
    width: 15rem; 
    height: 1rem; 
    /* border: 0rem solid #fff;  */
    border:none;
    background-color:black;
    /* border-radius: .5rem;  */
    padding: .5rem; 
    outline: none; 
    font-size: 1rem; 
    color:white;
    border-bottom: .05rem solid white;
    transition: all .2s
}

.edit-btn {
    width: 10rem; 
    height: 3rem; 
    border: 0rem solid #fff; 
    border-radius: .5rem; 
    background-color: #C6232C; 
    color: #fff; 
    padding: 1rem; 
    outline: none; 
    font-size: 1rem; 
}

.edit-btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.edit-btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.edit-header {
    font-size: 3rem;
    color: #fff; 
    text-align: center; 
}

.edit-input1 {
    margin-bottom: 1rem; 
}

.edit-input2 {
    margin-bottom: 1rem; 
}

.edit-input3 {
    margin-bottom: 1rem; 
}

.edit-input4 {
    margin-bottom: 1rem; 
}

.edit-input5 {
    margin-bottom: 1rem; 
}

.edit-input6 {
    margin-bottom: 2rem; 
}