img.shoe-logo-footer1 {
    width: 4rem; 
    height: 4rem; 
}

img.shoe-logo-footer2 {
    width: 5rem; 
    height: 3rem; 
}

img.shoe-logo-footer3 {
    width: 4rem; 
    height: 4rem; 
}

.footer-align {
    display: flex; 
    justify-content: center; 
}
